<div>
    <button class="text-uppercase button-zx login-btn cursor-pointer" (click)="loginToInpoker()">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="19" height="20"><image data-name="Векторный смарт-объект" width="19" height="20" xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAUCAYAAABvVQZ0AAABUklEQVQ4jaWUvU4CURSE7xptSEiUgsTGaIIlVFrxBoZQ0dLDa9DSWEppR4ix8wmksPIF/ImdhQm2BI2fOTIbd/dcDMFpTu6Zb2b3FrthlYAmcA3MWGqmc3NFJC5goII5cANcaM61H0SDRQF9BW6Bg6xtZ+1NfRcuwCXgHXgCyg5YMmX5xpUckAHbemrPmXmuJ66d3W8VuEPNe9eQV+of/VX2obnn4nml/uKvsjvNjovn1SnwcQFT4BM4iwG2lz91ZgSuAW8KDIE6sKs51N78mgvHBLSAL+KyfSsSc29VAS4zRY/ARF/ARGfkG1dxJZnrPQu+sms5aMnV5SO+VgSqwAuwALquISLjxFuumi1Ln7RWUSbXTW+SLk61GDt6vcKx8id2GOnQcOR6ZQ3lRwnwYMskSY43KVPhT8d2CMH+Wa/A+aZlIYSdEMK+vRn/KPlVCOEbSY6vujCDuTsAAAAASUVORK5CYII="/></svg>
        Login to Inpoker
    </button>

    <p class="login-text">Please <span>login with your wallet</span> and ensure it is connected to the Binance Smart Chain.</p>
</div>