:host {
  width: 100%;
  max-width: 1350px;
}
.header {
  width: 100%;
  height: 120px;
  @media (max-width: 1440px) and (min-width: 1025px) {
    height: 100px;
  }
  @media (max-width: 767px) {
    height: auto;
  }
}
.container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 0 50px;
  align-items: center;
  @media (max-width: 1440px) and (min-width: 1025px){
    padding: 0 40px 0 30px;
  }
  @media (max-width: 1024px) {
    padding: 0 26px 0 30px;
    @media (max-width: 550px) {
      flex-direction: column;
      padding: 0 10px;
      align-items: inherit;
      //@media (min-width: 550px) {
      //  flex-direction: row;
      //}
    }
  }
}
.user-header {
  display: flex;
  align-items: center;
}
.user {
  &-avatar-header {
    width: 54px;
    min-width: 54px;
    margin-right: 16px;
    max-height: 78px;
    @media (max-width: 1440px) and (min-width: 1025px) {
      width: 37px;
      min-width: 37px;
      margin-right: 10px;
    }
    @media (max-width: 767px) {
      width: 37px;
      min-width: 37px;
      margin-right: 15px;
    }
    img {
      width: 100%;
      object-fit: contain;
    }
  }
  &-name-header {

  }
  &-name {
    font-size: 21px;
    color: rgb(255, 255, 255);
    margin: 6px 0;
    @media (max-width: 1440px) and (min-width: 1025px) {
      font-size: 14px;
      margin: 3px 0;
    }
    @media (max-width: 767px) {
      font-size: 16px;
      margin: 2px 0;
    }
  }
  &-status {
    font-size: 16px;
    color: rgb(255, 255, 255);
    @media (max-width: 1440px) and (min-width: 1025px) {
      font-size: 12px;
    }
    @media (max-width: 767px) {
      font-size: 14px;
    }
  }
}



.icon-currency {

}
.info-currency {
  display: flex;
  align-items: center;
  margin: 8px 0;
  @media (max-width: 1440px) and (min-width: 1025px) {
    margin: 5px 0;
  }
  @media (max-width: 1024px) {
    margin: 7px 0;
    @media (max-width: 550px) {
      margin: 5px 0;
    }
  }
}
.info-header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  @media (max-width: 1440px) and (min-width: 1025px) {
    padding-top: 6px;
  }
  @media (max-width: 1024px) {
    padding-top: 12px;
    @media (max-width: 550px) {
      align-items: inherit;
      padding-top: 0;
    }
  }

}

.currency{
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0 3.5px;
  width: 80px;
  display: flex;
  align-items: center;
  @media (max-width: 1440px) and (min-width: 1025px) {
    font-size: 12px;
    width: 55px;
  }
  @media (max-width: 1024px) {
    width: 71px;
    @media (max-width: 767px) {
      font-size: 12px;
    }
  }
  &.icon-currency {
    &:before {
      content: '';
      background-image: url("/assets/image/icons/inp.svg");
      width: 24px;
      height: 24px;
      display: flex;
      background-size: contain;
      background-repeat: no-repeat;
      margin-right: 10px;
      @media (max-width: 1440px) and (min-width: 1025px) {
        width: 16px;
        height: 16px;
        margin-right: 6px;
      }
      @media (max-width: 1024px) {
        margin-right: 7px;
        @media (max-width: 767px) {
          width: 16px;
          height: 16px;
        }
      }

    }
  }
  &.icon-green {
    &:before {
      content: '';
      background-image: url("/assets/image/icons/chip.svg");
      width: 24px;
      height: 24px;
      display: flex;
      background-size: contain;
      background-repeat: no-repeat;
      margin-right: 10px;
      @media (max-width: 1440px) and (min-width: 1025px) {
        width: 16px;
        height: 16px;
        margin-right: 6px;
      }
      @media (max-width: 1024px) {
        margin-right: 7px;
        @media (max-width: 767px) {
          width: 16px;
          height: 16px;
        }
      }
    }
  }
}
.percent-currency {
  color: rgb(116, 197, 81);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  width: 90px;
  margin: 0 3.5px;
  text-align: center;
  @media (max-width: 1440px) and (min-width: 1025px) {
    font-size: 9px;
    width: 50px;
  }
  @media (max-width: 767px) {
    font-size: 12px;
  }

}




.price-currency {
  width: 144px;
  height: 30px;
  border-radius: 5px;
  background-image: linear-gradient( 90deg, rgb(113,112,82) 0%, rgb(129,129,102) 100%);
  font-size: 16px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 3.5px;
  @media (max-width: 1440px) and (min-width: 1025px) {
    font-size: 12px;
    width: 90px;
    height: 20px;
    margin: 0 6px 0 3.5px;
  }
  @media (max-width: 767px) {
    height: 25px;
    font-size: 14px;
  }
}

.add-currency {
  margin: 0 0 0 3.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient( 90deg, rgb(152,109,38) 1%, rgb(197,162,65) 100%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25),inset 0 1px 0 0 rgba(255, 255, 255, 0.25);
  width: 30px;
  height: 30px;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  background-repeat: repeat-x;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  @media (max-width: 1440px) and (min-width: 1025px){
    width: 20px;
    height: 20px;
  }
  &:hover {
    background-image: linear-gradient( 90deg, rgb(179,127,45) 1%, rgb(222,182,73) 100%);
  }
  &:focus, &:visited {
    background-image: linear-gradient( 90deg, rgb(128,91,32) 0%, rgb(171,140,56) 100%);
  }
  &.disabled, &[disabled] {
    pointer-events: none;
    opacity: 0.3;
    background-image: linear-gradient( 90deg, rgb(152,109,38) 1%, rgb(197,162,65) 100%);
  }


  @media (max-width: 767px) {
    height: 25px;
    width: 97px;
    @media (min-width: 550px) {
      width: 25px;
    }
  }
}


.burger-menu {
  position: relative;
  width: 30px;
  height: 30px;
  margin-right: 38px;
  span {
    width: 20px;
    height: 1px;
    background-color: rgb(197, 162, 65);
    display: block;
    margin: 6px 0;
  }
}


.info-lft-header {
  @media (max-width: 767px) {
    display: flex;
    align-items: center;
    height: 78px;
  }
}


.login-btn {
  padding: 28px 15px;
  display: flex;
  align-items: center;

  svg {
    margin-right: 8px;
  }
}
